* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    width: 70%;
    padding: 150px;
}
.container p {
    font-size: 30px;
    font-weight: 100;
    color: grey;
}

main {
    background: rgb(215, 215, 215);
}
.card-container {
    width: 80%;
    margin: 0 auto;
    padding: 100px;
}
.card {
    margin: 20px;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 100px;
}
